img {
  width: 55%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-top: 10%;
  width: 100%;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(2, 50%);
  height: 100%;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.links {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  
}



.fancy {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fancy:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fancy:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .fancy {
    padding: 0.25em 0.75em;
  }
}


header{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  text-align: center;
  position: fixed;
  top: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3%;
  background-color: rgb(0, 0, 0);
  color:white;
  
}





.personal {
padding-top: 25%;
}


